.dropcontainer {
    margin: auto;
    background-image: url('emptydrop.png');
    background-size: 300px 300px;
    width: 300px;
    height: 300px;

    
}

.dropcontainer img {
    width: inherit;
    height: inherit;
    position: absolute;
    clip: rect(300px, 300px, 300px, 0px);
    -webkit-transition: clip 1s;
    transition: clip 1s;

    
    
}

.bottlecontainer {
    margin: 100px auto 10px auto;
    background-image: url('bottle.png');
    background-size: 100px 100px;
    width: 100px;
    height: 100px;

    
}

.bottlecontainer img {
    width: inherit;
    height: inherit;
    position: absolute;
    clip: rect(100px, 100px, 100px, 0px);
    -webkit-transition: clip 1s;
    transition: clip 1s;

    
    
}

.container {
    max-width: 550px;
    margin: 100px auto;
}

.text {
    margin-top: 10px;
    text-align: center;
}

.button {
    text-align: center;
}

.settings {
    margin-top: 500px;
}

body {
	background: #FAFAFA;
	width: 100%; 
	height: 100%;
	margin: 0;
	font-family: Helvetica;
}

#header {
	background-color: #00695C;
	padding: 1%;
	text-align: center;
	color: white;
	/*margin: 0px;
	/*font-size: 52px;*/
	letter-spacing: 4px;
}

/* css drop */
.droplet {
    background-color:rgba(0,0,0,0);
    width: 150px;
    height: 150px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
    box-shadow: 1px 1px 7px #1a1a1a;
}


